<div class="portada">
      <div class="portada1">
            <h2>A</h2>
      <ul>
            <li><h2>BEBER</h2></li>
            <li><h2>TOMAR</h2></li>
            <li><h2>SALIR?</h2></li>
      </ul>
</div>
      <img src="https://uploads.candelaestereo.com/1/2019/11/poker-aguila-y-club-colombia-que-cerveza-es-mejor-1.gif"
            alt="">
      <div class="integrantes">
            <h3>Integrantes:</h3>
            <ul>
                  <li>Yarely Castillo</li>
                  <li>Felipe Espinosa</li>
                  <li>Wilmer Mendoza</li>
            </ul>
      </div>
      <div class="API">            
            <ul>
                  <li><a href="https://www.thecocktaildb.com/"><h3>Original API</h3></a></li>
            </ul>
      </div>
      <div class="Tportada">
            <h1>COCTELES</h1>
      </div>
</div>

<app-coctel></app-coctel>
<div class="borde1"></div>
<div class="borde2"></div>